@charset "utf-8";

/* font */
@font-face {
	font-family: 'Montaga';
	font-style: normal;
	font-weight: 400;
	src: local('Montaga'), local('Montaga-Regular'), url(//fonts.gstatic.com/s/montaga/v3/itGvBFnaX977w123U-9KmgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(//fonts.gstatic.com/s/montaga/v3/itYf_2A0fndjIgNlGpd2jQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}

/* clearfix */
.cf:after {
	content: '';
	display: block;
	clear: both;
}
.cf {
	*zoom: 1;
}

/* animation */
@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}
	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}
@keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}
	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

/* html */
html {
	min-height: 100%;
	font-family: 'Helvetica', sans-serif;
	background-image: repeating-linear-gradient(
		135deg,
		white 0%,
		white 50%,
		#E6E6E6 50%,
		#E6E6E6 100%
	);
	background-repeat: no-repeat;
	color: #666;
	font-size: 13px;
	line-height: 1.7;
	outline: 9999px solid #EEE;
}

/* body */
body {
	margin: 0;
}

/* img */
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

/* wrapper */
.wrapper {
	padding: 30px 40px 80px;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

/* header */
.header {
	position: relative;
}

/* heading */
.heading {
	/*float: left;*/

	line-height: 1;
	font-size: 3rem;
	margin-top: 20px;
	font-weight: normal;
}

/* body */
.body {
	margin-right: -15px;
	margin-left: -15px;
}

/* main */
.main {
	float: left;
	width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.screenshot {
	-webkit-perspective: 600;
	-moz-perspective: 600px;
	-ms-perspective: 600;
	perspective: 600;
}
.screenshot img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-animation: start-rotate 3s cubic-bezier(0,.61,.19,1.28) both;
	-moz-animation: start-rotate 3s cubic-bezier(0,.61,.19,1.28) both;
	-ms-animation: start-rotate 3s cubic-bezier(0,.61,.19,1.28) both;
	-o-animation: start-rotate 3s cubic-bezier(0,.61,.19,1.28) both;
	animation: start-rotate 3s cubic-bezier(0,.61,.19,1.28) both;
}

@-webkit-keyframes start-rotate {
	0% {
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	100% {
		-webkit-transform: rotateY(-20deg);
		-moz-transform: rotateY(-20deg);
		-ms-transform: rotateY(-20deg);
		-o-transform: rotateY(-20deg);
		transform: rotateY(-20deg);
	}
}
@keyframes start-rotate {
	0% {
		-webkit-transform: rotateY(-90deg);
		-moz-transform: rotateY(-90deg);
		-ms-transform: rotateY(-90deg);
		-o-transform: rotateY(-90deg);
		transform: rotateY(-90deg);
	}
	100% {
		-webkit-transform: rotateY(-20deg);
		-moz-transform: rotateY(-20deg);
		-ms-transform: rotateY(-20deg);
		-o-transform: rotateY(-20deg);
		transform: rotateY(-20deg);
	}
}

/* support */
.support {
	margin-top: 1rem;
}
.support-table {
	width: 100%;
	background-color: rgba(50, 117, 133, 0.10);
	table-layout: fixed;
}
.support-table th {
	font-weight: normal;
}
.support-table th,
.support-table td {
	text-align: center;
}

/* installation */
.installation {
	margin-top: 2rem;
}
.installation-heading {
	font-size: 2rem;
}

/* action-buttons */
.action-buttons {
	margin-top: 2rem;
}

.social-links {
	list-style: none;
	padding: 0;
	margin-top: 2rem;
}
.social-links > li {
	float: right;
}

.social-links > li + li {
	margin-right: 20px;
}
/* facebook like */
.fb-like {
	height: 20px;
}

/* button-wrapper */
#bookmark-button-wrapper {
	position: relative;
	display: inline-block;
	-webkit-transition: 1s ease-in;
	-moz-transition: 1s ease-in;
	-ms-transition: 1s ease-in;
	-o-transition: 1s ease-in;
	transition: 1s ease;
	-webkit-transform: translate3d(100px, 200px, 0);
	-moz-transform: translate3d(100px, 200px, 0);
	-ms-transform: translate3d(100px, 200px, 0);
	-o-transform: translate3d(100px, 200px, 0);
	transform: translate3d(100px, 200px, 0);
}
#bookmark-button-wrapper.button-wrapper-animated {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#bookmark-button-wrapper:before,
#bookmark-button-wrapper:after {
	content: '';
	position: fixed;
	width: 100%;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-ms-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
#bookmark-button-wrapper:before {
	content: 'Copyright © igari. All rights reserved.';
	top: 100%;
	left: 0;
	z-index: 1;
	height: 1000%;
	background-color: rgba(230, 230, 230, 0.87);
	font-size: 0.8rem;
	padding: 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #999;
}
#bookmark-button-wrapper:after {
	top: 0;
	left: 0;
	z-index: 0;
	height: 1100%;
	background-color: rgba(207, 207, 207, 0.86);
}
#bookmark-button-wrapper {
	float: left;
}

/* bookmark-button */
#bookmarklet-button {
	position: relative;
	top: -1px;
	z-index: 2;
	display: inline-block;
	padding: 1.2em;
	background-color: rgba(238, 238, 238, 0.87);
	-webkit-box-shadow: 1px 1px 0 0 #EEE;
	-moz-box-shadow: 1px 1px 0 0 #EEE;
	box-shadow: 0 1px 0 0 #EEE;
	color: rgb(126, 211, 194) !important;
	text-decoration: none !important;
	font-size: 1.1rem;
	-webkit-animation: hue 30s infinite linear;
	color: #FFF !important;
	background-color: rgba(126, 211, 194, 0.84) !important;
	box-shadow: 0 1px 0 0 rgba(126, 211, 194, 0.84);
}
#bookmarklet-button:hover {
	background-color: rgba(133, 227, 209, 0.85) !important;
	box-shadow: 0 1px 0 0 rgba(133, 227, 209, 0.85);
}

/* aside */
.aside {
	float: right;
	width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* screenshot */
.screenshot {
	margin: 0;
}

/* media query */
@media (max-width: 900px) {
	.main {
		width: auto;
		margin-right: auto;
		margin-left: auto;
	}
	.aside {
		/*display: none;*/
		margin-top: -100px;
	}
}
@media (max-width: 680px)  {
	html {
		font-size: 12px;
	}
	.wrapper {
		padding: 15px 20px 40px;
	}
	.heading {
		float: none;
	}
	.body {
		display: table;
	}
	.aside {
		display: table-header-group;
		margin-top: 0;
		width: auto;
		float: none;
		padding-right: 0;
		padding-left: 0;
	}
	.screenshot {
		padding: 10px 15px 25px;
		text-align: center;
	}
	.screenshot img {
		max-height: 350px;
	}


	#bookmark-button-wrapper {
		float: none !important;
	}
	.fb-like {
		margin-top: 0;
	}
	.fb_iframe_widget {
		display: block !important;
	}
}